
#body {
  position: absolute;
  height: 497px;
  -webkit-app-region: drag;
  margin-left: 0;
}

#tail {
  position: absolute;
  height: 70px;
  top: 126px;
  left: 71px;
  -webkit-app-region: drag;
  margin-left: 0;
}

#blink {
  position: absolute;
  height: 502.7px;
  top: 6px;
  left: 6px;
  -webkit-app-region: drag;
  margin-left: 0;
  display: none;
}

#list {
  display: none;
  width: 70px;
  background-color: white;
  color: black;
  float: right;
}

#get {
  position: absolute;
  right: 0;
  background-color: green;
  -webkit-app-region: no-drag;
}

#menu {
  background-color: aliceblue;
  border-radius: 10px;
  height: 40px;
  width: 100px;
  text-align: center;
  color: red;
  -webkit-app-region: no-drag;
  position: absolute;
  right: 5px;
}

#menu-select {
  display: none;
  position: absolute;
  right: 5px;
  top: 60px;
  width: 100px;
  border-radius: 10px;
}

#play,#set,#treat {
  background-color: aliceblue;
  border-radius: 10px;
  height: 40px;
  width: 100px;
  text-align: center;
  color: darkblue;
  -webkit-app-region: no-drag;
}

#treat img {
  width: 20px;
}

#remind {
  display: none;
}

input {
  width: 90px;
  height: 20px;
  border-radius: 6px;
}

#treat-image {
  width: 50px;
  display: none;
}

#mouth {
  position: absolute;
  height: 75.5px;
  left: 168px;
  top: 166px;
  display: none;
}

.time {
  width: 23px;
}

input {
  background-color: transparent;
}

.add {
  background-color: aliceblue;
  height: 23px;
  border-radius: 6px;
  color: darkblue;
  -webkit-app-region: no-drag;
}

.todo.even {
  background-color: rgb(23, 45, 65);
  border-radius: 5px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 2px;
}

.todo.odd {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  color: rgb(23, 45, 65);
  text-align: center;
  margin: 2px;
}

#bark {
  position: absolute;
  height: 525px;
  top: -15px;
  left: -30px;
}

#barking {
  display: none;
}

#treat-image {
  margin-top: 10px;
  margin-left: 25px;
}

#close-child {
  -webkit-app-region: no-drag;
}